.App {
    text-align: center;
  }
  img, embed, object, video{
          max-width: 100%
          } 
          a, button{
          min-width:48px;
          min-height:48px;
          padding:1.5em;
          }
  
  header{
     background: #1bb4dd;
    color: white;
    padding:3vmin 1rem;
    text-align: center;
    margin: 0 0 8vmin 0;
      display: flex;
      align-content:space-between;
      justify-content: space-around;
   
  }
  .menu-items{
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      width:90%;
      margin:5%
  }
  .item{
   
      
      text-align: left;
  }
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .cart-items{
      display: flex;
      flex-direction: column;
      width: 80%;
      margin:5%;
      align-items: left;
  }
  .cart{
      text-align: left;
      
  }
  .cart-items .shoppingTxt{
      text-align: left;
      font-size:35px;
  }
  .total, .item-price{
      text-align: right;
      display: inline;
      
  }
  .total{
      margin-top:15px;
  }
  .cart-head{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid;
  }
  .cart img,.cart p{
      width:15vw;
      display: inline;
      vertical-align: top;
      font-size: 20px;
      
  }
  
  .cart-description{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom:10px;
  }
  .cart-left{
      width:80%;
  }
  li{
      display:inline;
      list-style: none;
  }
   a{
      text-decoration: none;
  }