@import "./src/styles/main";

.book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.upper-card {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.bottom-card {
    display: flex;
    flex-grow: 1;
}