@import "./src/styles/main";

.book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.upper-card {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.bottom-card {
    display: flex;
    flex-grow: 1;
}

.to-cart-section {
    display: flex;
    padding: 0px;
    height: 25px;
}

.in-stock-badge {
    align-items: center;
    height: 25px;
    margin: 0px !important;
}