$color_primary: #FF0038;
$color_primary_light: #FD6A62;
$color_primary_lighter: #FEC6AC;
$color_primary_dark: rgb(196, 0, 42);
$color_primary_darker: #990015;
$color_accent: #151515;
$color_accent-light: #413F4A;
$color_accent-lighter: #625F61;
$color_accent-lightest: #f1f1f1;
$color_success: #2ecc71;

body, html{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;

}