$color_primary: #FF0038;
$color_primary_light: #FD6A62;
$color_primary_lighter: #FEC6AC;
$color_primary_dark: #c4002a;
$color_primary_darker: #990015;
$color_accent: #151515;
$color_accent_light: #413F4A;
$color_accent_lighter: #625F61;
$color_accent_lightest: #f1f1f1;
$color_accent_sky: #E3F2FA;
$color_success: #2ecc71;

body, html{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;

}
.sidenav---sidenav---_2tBP{
  position: fixed !important;
}

// .navbar-collapse{
//   justify-content: center;
// }

.navbar-expand-md .navbar-collapse{
  justify-content: center;
  align-items: center;
  // background-color: #2E2E2E;
}
.navbar{
  background-color: #2E2E2E !important;
  color: white !important;
  position: fixed;
  width: 100vw;
  z-index: 2;
  opacity: 0.9;
}

@media (min-width: 1200px){

  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1400px;
  }
}

.btn-card{
  color: #fff;
  background-color: #FD6A62;
  border-color: #FD6A62;
}

.page-footer{
  background-color: #2E2E2E;
  flex-shrink: 0;
  color:white  
}

.nav-link, .nav-item, .navbar-toggler-icon,.navbar-brand{
  color:white !important;
}
a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  } 

.MuiGrid-container{
align-items: center !important;
}