@import "./src/styles/main";

.right-card {
    display: flex;
    flex-direction: column;
    justify-items: start;
    flex-grow: 3;
}

.book-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.book-rating > h4 {
    margin-left: 2%;
}

.ratings-number {
    color: $color_success;
}

.section-title {
    color: $color_primary;
    margin: 0px;
}

.author-name, .category-name{
    color: #3498db;
}

.author-section {
    margin: 0px;
}